    <div class="pragmatic_header">
        <div>
             <h1 style="font-family: 'Do Hyeon', sans-serif;">
                 Pragmatic
             </h1>
        </div>
        <div class="pragmatic_header_navbar">
            <a href="{% url 'articleapp:list' %}" class="pragmatic_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list' %}" class="pragmatic_header_nav">
                <span>Projects</span>
            </a>
            <a href="{% url 'subscribeapp:list' %}" class="pragmatic_header_nav">
                <span>Subscription</span>
            </a>

            {% if not user.is_authenticated %} <!-- 로그인 안 된 경우 로그아웃 보여줌 -->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">
                <span>Login</span>
            </a>
             <a href="{% url 'accountapp:create' %}?next={{ request.path }}" class="pragmatic_header_nav">
                <span>Sign Up</span>
            </a>

            {% else %} <!-- 로그인 된 경우 -->
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                <span>My Page</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="pragmatic_header_nav">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>
    </div>